{% extends 'base.html' %}
{% load static %}
{% block head %}
<Title>Roy-Tex | Signup</Title>
{% endblock %}
{% block body %}
<section id="form">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="signup-form">
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<form action="{% url 'signup' %}" method="post">
						{% csrf_token %}
						<input type="text" name="fname" placeholder="First Name" required />
						<input type="text" name="lname" placeholder="Last Name" required/>
						<input type="email" name="email" placeholder="E-mail" required />
						<input type="text" name="username" placeholder="Username" required />
						<input type="password" name="password" placeholder="password" required />
						<button type="submit" class="btn btn-default">Signup</button>
					</form>
				</div> 
				<!--/sign up form-->
			</div>
		</div>
	</div>
</section>
<!--/form-->
{% endblock %}